@import '../app-variables.scss';

nav-main {
  nav {
    // flex
    display: flex;
    justify-content: space-between;
    align-items: center;
    // sizing
    background: white;
    height: 5rem;
    width: 100%;
    // position
    position: fixed;
    img {
      height: 50px;
      margin: 0 1rem;
    }

    ul {
      display: grid;
      grid-auto-flow: column;
      column-gap: 2rem;
      list-style: none;

      li {
        margin: 0 1rem;
      }
      a {
        font-size: 1rem;
      }
    }
  }
}
