@import '../app-variables.scss';

nav-footer {

  footer {
    // flex
    display: flex;
    justify-content: center;
    align-items: center;
    // sizing
    width: 100%;
    background: black;
    height: 5rem;
    // colors
    // position
    bottom: 0;

    ul {
      display: grid;
      grid-auto-flow: column;
      column-gap: 2rem;
      list-style: none;

      a {
        color: $font-color-inverse;
        font-size: 1rem;
      }
    }
  }
}
