@import "../app-variables.scss";

not-found {
  // flex
  display: flex;
  align-items: center;
  justify-content: center;
  // sizing
  min-height: 100vh;
  width: 100%;
  // color
  background: linear-gradient(to right, #C4E0E5, #4CA1AF);
}
