@import "../app-variables.scss";

@media (min-width: 1000px) {
  :root {
    --imgs-container-flex-direction: row;
  }
}

@media (max-width: 999px) {
  :root {
    --imgs-container-flex-direction: column;
  }
}

pg-home {
  // flex
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // sizing
  min-height: 100vh;
  width: 100%;
  // color
  background: linear-gradient(to right, #C4E0E5, #4CA1AF);

  img {
    max-width: 200px;
    background: rgba(255, 255, 255, 1);
    padding: 2rem;
    margin:6rem 0 1rem 0;
  }


  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: var(--imgs-container-flex-direction);

    img {
      max-width: 200px;
      max-height: 100px;
      margin: 1rem;
    }
  }

}




