@import "../app-variables.scss";

pg-one {
  // flex
  display: flex;
  align-items: center;
  justify-content: center;
  // sizing
  min-height: 100vh;
  width: 100%;
  // color
  background: linear-gradient(to right, #ff4b1f, #ff9068);

  h1 {
    color: white;
  }

}
