@import "../app-variables.scss";

pg-two {
  // flex
  display: flex;
  align-items: center;
  justify-content: center;
  // sizing
  min-height: 100vh;
  width: 100%;
  // color
  background: linear-gradient(to right, #8DC26F, #76b852);

  h1 {
    color: white;
  }
}
