@import "./app-variables.scss";
@import "./app-normalize.scss";

// global
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
a,
div,
input,
input[type="file"]::-webkit-file-upload-button,
button,
output,
strong,
label,
table,
thead,
textarea,
select {
  font-family: "HindMadurai";
  color: $font-color;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  &:hover {
    opacity: .8;
  }
}

body {
  background-color: $app-background;
}

// fonts
@font-face {
  font-family: "HindMadurai";
  src: url("./fonts/HindMadurai-Bold.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "HindMadurai";
  src: url("./fonts/HindMadurai-SemiBold.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "HindMadurai";
  src: url("./fonts/HindMadurai-Regular.ttf");
}

@font-face {
  font-family: "HindMadurai";
  src: url("./fonts/HindMadurai-Medium.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "HindMadurai";
  src: url("./fonts/HindMadurai-Light.ttf");
  font-weight: 400;
}

